@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

body {
    height: 100vh;
    background: linear-gradient(70deg, rgb(223, 173, 8), rgb(19, 0, 71));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;


}


.clock div {

    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background: rgb(255, 247, 230);
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    border-radius: 7px;
    letter-spacing: 3px;

}

.clock span {
    font-size: 60px;
    font-weight: bolder;

}

#time {
    font-size: 10px;

}

@media screen and (max-width: 780px) {



    .clock {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 600px;
        width: 200px;
        background: transparent;
        border-radius: 3px;


    }

}